WebClient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFStreaming" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFStreaming" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MandelbrotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="xOffset" type="xs:int" />
      <xs:element minOccurs="0" name="yOffset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MandelbrotData" nillable="true" type="tns:MandelbrotData" />
</xs:schema>