WebClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54581/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54581/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54581/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFStreaming" />
      <xsd:import schemaLocation="http://localhost:54581/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:54581/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_MatrixMultiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMultiplication" />
  </wsdl:message>
  <wsdl:message name="IService1_MatrixMultiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Mandelbrot_InputMessage">
    <wsdl:part name="parameters" element="tns:Mandelbrot" />
  </wsdl:message>
  <wsdl:message name="IService1_Mandelbrot_OutputMessage">
    <wsdl:part name="parameters" element="tns:MandelbrotResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="MatrixMultiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MatrixMultiplication" message="tns:IService1_MatrixMultiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MatrixMultiplicationResponse" message="tns:IService1_MatrixMultiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mandelbrot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Mandelbrot" message="tns:IService1_Mandelbrot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MandelbrotResponse" message="tns:IService1_Mandelbrot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadFile" message="tns:IService1_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadFileResponse" message="tns:IService1_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadFile" message="tns:IService1_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadFileResponse" message="tns:IService1_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilesList" message="tns:IService1_GetFilesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilesListResponse" message="tns:IService1_GetFilesList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MatrixMultiplication">
      <soap:operation soapAction="http://tempuri.org/IService1/MatrixMultiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mandelbrot">
      <soap:operation soapAction="http://tempuri.org/IService1/Mandelbrot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54581/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>